<header>
  <div>
    <div class="">
      <div class="logo">
        <img src="../../../assets/img/mercado-libre-logo.png" alt="">

      </div>

      <div class="buscador">
        <input type="text" placeholder="Buscar productos, marcas y mas...">
        <span class="material-icons">
          search
        </span>
      </div>
      <div class="text-envio">
        <span class="material-icons">
          local_shipping
        </span>
        <p>
          ¡Envio Express <strong>en menos de 2 horas!</strong></p>
      </div>

    </div>
    <nav>

      <select name="select" id="">
        <option value="">Categoria</option>
        <option value="">Vehiculos</option>
        <option value="">Inmuebles</option>
        <option value="">Celulares y telefonos</option>
        <option value="">Accesorios de vehiculos</option>
        <option value="">Moda</option>
        <option value="">Electrodomesticos</option>
        <option value="">Hogar y Muebles</option>
        <option value="">TV, audio y Video</option>
        <option value="">Computacion</option>
        <option value="">Gaming</option>
        <option value="">Supermercado</option>
        <option value="">Deportes y Fitnes</option>
        <option value="">Belleza y Cuidado personal</option>
      </select>


      <ul class="ul1">
        <li><a href="#"> Historial</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Ofertas de la semana</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="ul2">
        <li><a href="#">Crea tu Cuenta</a></li>
        <li><a href="#">Ingresa</a></li>
        <li><a href="#">Mis compras</a></li>

      </ul>
    </nav>
  </div>
</header>
